**.resources
**.swp
*.pyc
**jenkins.sln
**.jenkins.csproj
.xamarin-build-finished
**/bin
**/obj
/forms/*.resources
/properties/*.resources
*.user
*.suo
*.userprefs
.ds_store
/Installer/*.exe
/Linux/*.zip

/oMac/*.exe
/oMac/*.pdb

/_build.html

/Installer/_old

/o

/_new-stuff/RestrictionsPIN/bin/Debug

/_new-stuff/RestrictionsPIN/obj/x86/Debug
/Installer/_mac

/Maps/ipbe.obproj.map
/CryptoObfuscator_Output/
de
deo
deobf.bat
ipbe.tar
stack
/Debug
/ipch/actionhelper-e0f03b63/*.ipch
/iPhoneBackupExtractor.sdf
